USE [master]
GO
/****** Object:  Database [BowlingClub]    Script Date: 24.06.2026 11:42:25 ******/
CREATE DATABASE [BowlingClub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BowlingClub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BowlingClub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BowlingClub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BowlingClub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BowlingClub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BowlingClub]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingItems]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ItemName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingNumber] [nvarchar](50) NOT NULL,
	[ClientId] [int] NOT NULL,
	[LaneId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[RegistrationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventRegistrations]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[EventDate] [date] NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[SizeOrWeight] [nvarchar](50) NULL,
	[StatusId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryStatuses]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lanes]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lanes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LaneNumber] [int] NOT NULL,
	[LaneTypeId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[PricePerHour] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaneStatuses]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaneStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaneTypes]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaneTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActions]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[Details] [nvarchar](500) NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAwards]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAwards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
	[AwardedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.06.2026 11:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Points] [int] NOT NULL,
	[IsSubscribedToAI] [bit] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Awards] ON 

INSERT [dbo].[Awards] ([Id], [Name], [Description]) VALUES (1, N'Новичок клуба', N'Получена при первом бронировании')
INSERT [dbo].[Awards] ([Id], [Name], [Description]) VALUES (2, N'Постоянный игрок', N'10 посещений клуба')
INSERT [dbo].[Awards] ([Id], [Name], [Description]) VALUES (3, N'Чемпион недели', N'Лучший результат недели')
SET IDENTITY_INSERT [dbo].[Awards] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingItems] ON 

INSERT [dbo].[BookingItems] ([Id], [BookingId], [ItemName], [Quantity], [Price], [Total]) VALUES (1, 1, N'Аренда дорожки', 1, CAST(1200.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)))
INSERT [dbo].[BookingItems] ([Id], [BookingId], [ItemName], [Quantity], [Price], [Total]) VALUES (2, 2, N'Аренда дорожки VIP', 1, CAST(2000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)))
INSERT [dbo].[BookingItems] ([Id], [BookingId], [ItemName], [Quantity], [Price], [Total]) VALUES (3, 2, N'Аренда обуви', 2, CAST(250.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BookingItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [BookingNumber], [ClientId], [LaneId], [StartTime], [DurationMinutes], [TotalAmount], [PaymentMethod], [Status]) VALUES (1, N'BR-001', 1, 1, CAST(N'2025-01-06T18:00:00.000' AS DateTime), 60, CAST(1200.00 AS Decimal(18, 2)), N'Карта', N'Оплачен')
INSERT [dbo].[Bookings] ([Id], [BookingNumber], [ClientId], [LaneId], [StartTime], [DurationMinutes], [TotalAmount], [PaymentMethod], [Status]) VALUES (2, N'BR-002', 2, 3, CAST(N'2025-02-06T20:00:00.000' AS DateTime), 90, CAST(3000.00 AS Decimal(18, 2)), N'Наличные', N'Создан')
INSERT [dbo].[Bookings] ([Id], [BookingNumber], [ClientId], [LaneId], [StartTime], [DurationMinutes], [TotalAmount], [PaymentMethod], [Status]) VALUES (3, N'BR-003', 3, 4, CAST(N'2025-03-06T14:00:00.000' AS DateTime), 60, CAST(900.00 AS Decimal(18, 2)), N'Онлайн', N'Оплачен')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [FullName], [Phone], [Email], [RegistrationDate]) VALUES (1, N'Иванов Иван', N'+79990001122', N'ivanov@example.com', CAST(N'2026-06-24' AS Date))
INSERT [dbo].[Clients] ([Id], [FullName], [Phone], [Email], [RegistrationDate]) VALUES (2, N'Петров Пётр', N'+79995556677', N'petrov@example.com', CAST(N'2026-06-24' AS Date))
INSERT [dbo].[Clients] ([Id], [FullName], [Phone], [Email], [RegistrationDate]) VALUES (3, N'Сидорова Анна', N'+79998887766', N'sidorova@example.com', CAST(N'2026-06-24' AS Date))
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[EventRegistrations] ON 

INSERT [dbo].[EventRegistrations] ([Id], [ClientId], [EventId]) VALUES (1, 1, 1)
INSERT [dbo].[EventRegistrations] ([Id], [ClientId], [EventId]) VALUES (2, 2, 1)
INSERT [dbo].[EventRegistrations] ([Id], [ClientId], [EventId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[EventRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [Name], [EventDate], [Description]) VALUES (1, N'Турнир новичков', CAST(N'2025-07-10' AS Date), N'Соревнование для начинающих игроков')
INSERT [dbo].[Events] ([Id], [Name], [EventDate], [Description]) VALUES (2, N'Ночная игра', CAST(N'2025-07-15' AS Date), N'Игры со скидкой после 23:00')
INSERT [dbo].[Events] ([Id], [Name], [EventDate], [Description]) VALUES (3, N'Семейный день', CAST(N'2025-07-20' AS Date), N'Скидки для семейных команд')
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryItems] ON 

INSERT [dbo].[InventoryItems] ([Id], [Type], [SizeOrWeight], [StatusId], [Quantity], [CreatedAt]) VALUES (1, N'Шар', N'6 кг', 1, 10, CAST(N'2026-06-24T05:47:06.557' AS DateTime))
INSERT [dbo].[InventoryItems] ([Id], [Type], [SizeOrWeight], [StatusId], [Quantity], [CreatedAt]) VALUES (2, N'Шар', N'8 кг', 1, 12, CAST(N'2026-06-24T05:47:06.557' AS DateTime))
INSERT [dbo].[InventoryItems] ([Id], [Type], [SizeOrWeight], [StatusId], [Quantity], [CreatedAt]) VALUES (3, N'Шар', N'10 кг', 1, 8, CAST(N'2026-06-24T05:47:06.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[InventoryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryStatuses] ON 

INSERT [dbo].[InventoryStatuses] ([Id], [Name]) VALUES (1, N'Доступен')
INSERT [dbo].[InventoryStatuses] ([Id], [Name]) VALUES (2, N'На обслуживании')
INSERT [dbo].[InventoryStatuses] ([Id], [Name]) VALUES (3, N'Недоступен')
SET IDENTITY_INSERT [dbo].[InventoryStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Lanes] ON 

INSERT [dbo].[Lanes] ([Id], [LaneNumber], [LaneTypeId], [StatusId], [Capacity], [PricePerHour]) VALUES (1, 1, 1, 1, 6, CAST(1200.00 AS Decimal(18, 2)))
INSERT [dbo].[Lanes] ([Id], [LaneNumber], [LaneTypeId], [StatusId], [Capacity], [PricePerHour]) VALUES (2, 2, 1, 2, 6, CAST(1200.00 AS Decimal(18, 2)))
INSERT [dbo].[Lanes] ([Id], [LaneNumber], [LaneTypeId], [StatusId], [Capacity], [PricePerHour]) VALUES (3, 3, 2, 1, 8, CAST(2000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Lanes] OFF
GO
SET IDENTITY_INSERT [dbo].[LaneStatuses] ON 

INSERT [dbo].[LaneStatuses] ([Id], [Name], [Color]) VALUES (1, N'Доступна', N'Green')
INSERT [dbo].[LaneStatuses] ([Id], [Name], [Color]) VALUES (2, N'Занята', N'Red')
INSERT [dbo].[LaneStatuses] ([Id], [Name], [Color]) VALUES (3, N'Требует обслуживания', N'Orange')
SET IDENTITY_INSERT [dbo].[LaneStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[LaneTypes] ON 

INSERT [dbo].[LaneTypes] ([Id], [Name], [Description]) VALUES (1, N'Стандартная', N'Обычная дорожка для игры')
INSERT [dbo].[LaneTypes] ([Id], [Name], [Description]) VALUES (2, N'VIP', N'Расширенная зона, улучшенное покрытие')
INSERT [dbo].[LaneTypes] ([Id], [Name], [Description]) VALUES (3, N'Детская', N'Дорожка с бортиками для детей')
SET IDENTITY_INSERT [dbo].[LaneTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserActions] ON 

INSERT [dbo].[UserActions] ([Id], [UserId], [ActionType], [Details], [Timestamp]) VALUES (1, 1, N'Вход', N'Администратор вошёл в систему', CAST(N'2026-06-24T05:47:06.560' AS DateTime))
INSERT [dbo].[UserActions] ([Id], [UserId], [ActionType], [Details], [Timestamp]) VALUES (2, 2, N'Создание бронирования', N'Менеджер создал бронирование BR-002', CAST(N'2026-06-24T05:47:06.560' AS DateTime))
INSERT [dbo].[UserActions] ([Id], [UserId], [ActionType], [Details], [Timestamp]) VALUES (3, 3, N'Выход', N'Оператор вышел из системы', CAST(N'2026-06-24T05:47:06.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserActions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAwards] ON 

INSERT [dbo].[UserAwards] ([Id], [UserId], [AwardId], [AwardedAt]) VALUES (1, 1, 1, CAST(N'2026-06-24T05:47:06.560' AS DateTime))
INSERT [dbo].[UserAwards] ([Id], [UserId], [AwardId], [AwardedAt]) VALUES (2, 1, 2, CAST(N'2026-06-24T05:47:06.560' AS DateTime))
INSERT [dbo].[UserAwards] ([Id], [UserId], [AwardId], [AwardedAt]) VALUES (3, 2, 1, CAST(N'2026-06-24T05:47:06.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAwards] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password], [FullName], [Role], [Points], [IsSubscribedToAI], [Email], [Phone]) VALUES (1, N'admin', N'admin123', N'Администратор Системы', N'Admin', 500, 1, N'admin@club.com', N'+79990000001')
INSERT [dbo].[Users] ([Id], [Login], [Password], [FullName], [Role], [Points], [IsSubscribedToAI], [Email], [Phone]) VALUES (2, N'manager1', N'manager123', N'Менеджер Клуба', N'Manager', 120, 0, N'manager@club.com', N'+79990000002')
INSERT [dbo].[Users] ([Id], [Login], [Password], [FullName], [Role], [Points], [IsSubscribedToAI], [Email], [Phone]) VALUES (3, N'operator1', N'operator123', N'Оператор Зала', N'Operator', 50, 0, N'operator@club.com', N'+79990000003')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Awards__737584F6225C1DEA]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[Awards] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Bookings__AAC320BFA8D8ED6E]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[Bookings] ADD UNIQUE NONCLUSTERED 
(
	[BookingNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_EventRegistrations]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[EventRegistrations] ADD  CONSTRAINT [UQ_EventRegistrations] UNIQUE NONCLUSTERED 
(
	[ClientId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Inventor__737584F658DAA1A2]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[InventoryStatuses] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Lanes__6F288C48C8A8E29C]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[Lanes] ADD UNIQUE NONCLUSTERED 
(
	[LaneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LaneStat__737584F6296A94E5]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[LaneStatuses] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LaneType__737584F66DDCAEE5]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[LaneTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserAwards]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[UserAwards] ADD  CONSTRAINT [UQ_UserAwards] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BDE17190D]    Script Date: 24.06.2026 11:42:25 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (CONVERT([date],getdate())) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserActions] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[UserAwards] ADD  DEFAULT (getdate()) FOR [AwardedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsSubscribedToAI]
GO
ALTER TABLE [dbo].[BookingItems]  WITH CHECK ADD  CONSTRAINT [FK_BookingItems_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
GO
ALTER TABLE [dbo].[BookingItems] CHECK CONSTRAINT [FK_BookingItems_Bookings]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Clients]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Lanes] FOREIGN KEY([LaneId])
REFERENCES [dbo].[Lanes] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Lanes]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Clients]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Events]
GO
ALTER TABLE [dbo].[InventoryItems]  WITH CHECK ADD  CONSTRAINT [FK_InventoryItems_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[InventoryStatuses] ([Id])
GO
ALTER TABLE [dbo].[InventoryItems] CHECK CONSTRAINT [FK_InventoryItems_Status]
GO
ALTER TABLE [dbo].[Lanes]  WITH CHECK ADD  CONSTRAINT [FK_Lanes_LaneStatuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[LaneStatuses] ([Id])
GO
ALTER TABLE [dbo].[Lanes] CHECK CONSTRAINT [FK_Lanes_LaneStatuses]
GO
ALTER TABLE [dbo].[Lanes]  WITH CHECK ADD  CONSTRAINT [FK_Lanes_LaneTypes] FOREIGN KEY([LaneTypeId])
REFERENCES [dbo].[LaneTypes] ([Id])
GO
ALTER TABLE [dbo].[Lanes] CHECK CONSTRAINT [FK_Lanes_LaneTypes]
GO
ALTER TABLE [dbo].[UserActions]  WITH CHECK ADD  CONSTRAINT [FK_UserActions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserActions] CHECK CONSTRAINT [FK_UserActions_Users]
GO
ALTER TABLE [dbo].[UserAwards]  WITH CHECK ADD  CONSTRAINT [FK_UserAwards_Awards] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[UserAwards] CHECK CONSTRAINT [FK_UserAwards_Awards]
GO
ALTER TABLE [dbo].[UserAwards]  WITH CHECK ADD  CONSTRAINT [FK_UserAwards_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserAwards] CHECK CONSTRAINT [FK_UserAwards_Users]
GO
USE [master]
GO
